<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1 class="index">Welcome to the great Animal Kingdom!</h1>
    <p class="instructions">Click the animal name to learn more!</a>

    <div class="animal-container">
        <% for(let i = 0; i < animals.length; i++) { %>
            <div class="animal">
                <li><a href="/animals/<%= animals[i]._id %>" class="animal-name">
                    <%= animals[i].species %></li></a>
                    <a><img src="<%= animals[i].imageLink %>" class="animal-image"></a>
                    <div class="cta">
                        <form action="/animals/<%= animals[i]._id %>/?_method=DELETE" method="post" id="deleteform">
                        <input type="submit" value="Delete Animal">
                    </div>
                </form>
            </div>
            <% } %>
    </div>
</body>
</html>