<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Welcome to the great Animal Kingdom!</h1>

    <% for(let i = 0; i < animals.length; i++) { %>
        <li><a href="/animals/<%= animals[i]._id %>">
            <%= animals[i].species %></li></a>
        <form action="/animals/<%= animals[i]._id %>/?_method=DELETE" method="post">
            <input type="submit" value="Delete Animal">
        </form>

    <% } %>
    
</body>
</html>